.App {
  text-align: center;
}
.board {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

svg text {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: black;
  text-anchor: middle;
  user-select: none;
}
h2 {
  user-select: none;
}
svg .selected {
  fill: white;
}
